/** Main Section */
main{

    width: 100%;
    height: 100%;

}

/** Desktop First Blog Main Section */
.firstBlogMainSection{

    width: 100%;
    height: 30vh;
    display: flex;
    align-items: center;
    justify-content: center;

}

/** Desktop First Blog Inner Swiper Section */
.firstBlogMainSection > .swiperFirstBlogInnerSection{

    width: 93%;
    height: 60%;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    gap: 10px;

}

/** Desktop First Blog Inner Swiper Slide Blog Box */
.swiperSlideFirstBlogInnerSectionBlogBox{

    width: 33.6%;
    height: 100%;
    display: flex;
    align-items: center;
    cursor: pointer;
    justify-content: center;

}

/** Swiper Slide Inner Blog Box */
.swiperSlideFirstBlogInnerSectionBlogBox > .innerSwiperSlideBlogBox{

    width: 100%;
    height: 100%;
    display: flex;

}

/** Desktop First Blog Inner Section Blog Image Box */
.innerSwiperSlideBlogBox > .FirstBlogInnerSectionImageBox{

    width: 40%;
    height: 100%;
    overflow: hidden;
    border-radius: 5px;

}

.FirstBlogInnerSectionImageBox > img{

    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: all 0.5s ease;

}

.innerSwiperSlideBlogBox:hover > .FirstBlogInnerSectionImageBox img{

    transform: rotate(-5deg) scale(1.2);
    filter: brightness(110%);

}

/** Desktop First Blog Inner Section Blog Contnet Box */
.innerSwiperSlideBlogBox > .FirstBlogInnerSectionContentBox{

    width: 60%;
    height: 100%;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-direction: column;
    gap: 10px;

}

.FirstBlogInnerSectionContentBox > p{

    font-family: var(--font12);
    font-weight: 500;
    font-size: 13px;
    letter-spacing: 1px;
    padding-left: 10px;

}

.FirstBlogInnerSectionContentBox > h4{

    font-family: var(--font12);
    font-weight: 500;
    line-height: 20px;
    font-size: 18px;
    letter-spacing: 1px;
    padding-left: 10px;
    position: relative;

}

.FirstBlogInnerSectionContentBox > h4::after{

    position: absolute;
    top: 68px;
    left: 10px;
    content: "";
    width: 65%;
    height: 2px;
    background-color: var(--hex_color6);

}

/** Second Blog Parent Container */
.homeSecondBlogContainer{

    width: 100%;
    height: 100vh;
    /* background-color: var(--hex_color6); */
    display: flex;
    align-items: center;
    justify-content: center;

}

/** Second Blog Swiper Container */
.homeSecondBlogContainer > .homeSwiperContainer{

    width: 93%;
    height: 85%;
    overflow: hidden;
    border-radius: 20px;
    corner-shape: round;
    position: relative;
    cursor: pointer;

}

/** Second Blog Swiper Slide Container */
.homeSwiperContainer > .homeSwiperSlideContainer{

    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;

}

/** Second Blog Swiper Slide Image Container */
.homeSwiperSlideContainer > .homeSwiperSlideImageContainer{

    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    overflow: hidden;

}

.homeSwiperSlideImageContainer > img{

    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
    filter: brightness(110%);
    transition: all 0.8s ease;

}

/** Second Blog Swiper Slide Image Overlay Container */
.homeSwiperSlideImageContainer > .homeSwiperSlideImageOverlay{

    position: absolute;
    z-index: 2;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: linear-gradient(to bottom, rgba(255, 255, 255, 0), #292929 120%);

}

.homeSwiperSlideContainer:hover > .homeSwiperSlideImageContainer img{

    transform: scale(1.2);
    object-position: top;
    filter: brightness(120%) sepia(40%);

}

/** Second Blog Swiper Slide Blog Category */
.homeSwiperSlideContainer > .homeSwiperSlideBlogCateogry{

    position: absolute;
    top: 20px;
    left: 20px;
    width: 300px;
    height: 40px;
    background-image: linear-gradient(-150deg, #ffffffff 50%, gold);
    z-index: 9;
    border-radius: 50px;
    display: flex;
    align-items: center;
    justify-content: center;

}

.homeSwiperSlideBlogCateogry > span{

    color: var(--hex_color5);
    font-family: var(--font12);
    text-transform: uppercase;
    letter-spacing: 2px;

}

/** Home Swiper Slide Blog Content */
.homeSwiperSlideContainer > .homeSwiperSlideBlogTextContainer{

    position: absolute;
    bottom: 20px;
    z-index: 2;
    left: 0;
    width: 100%;
    height: 50%;
    display: flex;
    align-items: center;
    justify-content: flex-start;

}

.homeSwiperSlideBlogTextContainer > .homeSwiperSlideInnerBlogBox{

    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-direction: column;
    margin-left: 20px;

}

.homeSwiperSlideInnerBlogBox > b{

    color: var(--hex_color4);
    font-family: var(--font12);
    letter-spacing: 2px;
    font-size: 15px;
    font-weight: 500;
    margin-bottom: 10px;

}

.homeSwiperSlideInnerBlogBox > h2{

    color: var(--hex_color4);
    font-family: var(--font12);
    letter-spacing: 2px;
    font-size: 40px;
    line-height: 45px;
    width: 900px;
    margin-bottom: 20px;

}

.homeSwiperSlideInnerBlogBox > p{

    font-size: 18px;
    color: var(--hex_color4);
    font-family: var(--font13);
    letter-spacing: 1px;
    width: 850px;
    line-height: 20px;

}

/** Swiper Blog Navigation */
.homeSwiperContainer > .homeBlogNavigationSection{

    position: absolute;
    bottom: 0;
    right: 0;
    width: 40%;
    height: 15%;
    background-color: var(--hex_color4);
    z-index: 2;
    border-radius: 150px 0px 0px 0px;
    corner-shape: bevel;
    display: flex;
    align-items: center;
    justify-content: flex-end;

}

.homeBlogNavigationSection > .blogNavigationInnerSection{

    margin-right: 50px;
    display: flex;
    gap: 140px;

}

.blogNavigationInnerSection > span{

    font-size: 25px;
    letter-spacing: 2px;
    font-family: var(--font21);
    letter-spacing: 2px;
    cursor: pointer;
    transition: all 0.8s ease;

}

.blogNavigationInnerSection > span:nth-child(1){

    position: relative;

}

.blogNavigationInnerSection > span:nth-child(1)::after{

    position: absolute;
    top: 17px;
    left: 190px;
    content: "";
    width: 60%;
    height: 3px;
    content: "";
    background-color: gold;
    transition: all 0.8s ease;

}

.blogNavigationInnerSection > span:nth-child(1):hover::after{

    width: 40%;

}

.blogNavigationInnerSection:has(span:nth-child(2):hover) > span:nth-child(1)::after{

    width: 50%;

}

.blogNavigationInnerSection > span:hover{

    transform: scale(1.2);

}

/** Tablet Resposive */
@media screen and (min-width: 800px) and (max-width: 1180px){

    .FirstBlogInnerSectionContentBox > p{

        font-size: 20px;

    }

    .FirstBlogInnerSectionContentBox > h4{

        font-size: 30px;
        line-height: 35px;
        position: relative;
        letter-spacing: 2px;

    }

    .FirstBlogInnerSectionContentBox > h4::after{

        position: absolute;
        top: 120px;
        height: 4px;
        width: 50%;
        content: "";


    }

    /** Second Blog Section Blog Details */

    
}

/** Mobile Responsive */
@media screen and (min-width: 360px) and (max-width: 615px){

   .firstBlogMainSection{

        height: 20vh;
        position: relative;
        z-index: -2;

   }

   .FirstBlogInnerSectionContentBox > p{

    font-size: 12px;
    letter-spacing: 1px;
    margin-bottom: 0px;

   }

   .FirstBlogInnerSectionContentBox > h4{

    font-size: 13px;
    line-height: 15px;
    letter-spacing: 1px;
    position: relative;

   }

   .FirstBlogInnerSectionContentBox > h4::after{

    position: absolute;
    top: 50px;
    left: 10px;
    height: 2px;
    width: 50%;
    content: "";
    background-color: gold;

   }

   /** Second Blog Section */
   

}
