/** Main Section */
main{

    width: 100%;
    height: 100%;

}

/** Desktop First Blog Main Section */
.firstBlogMainSection{

    width: 100%;
    height: 30vh;
    display: flex;
    align-items: center;
    justify-content: center;

}

/** Desktop First Blog Inner Swiper Section */
.firstBlogMainSection > .swiperFirstBlogInnerSection{

    width: 93%;
    height: 60%;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    gap: 10px;

}

/** Desktop First Blog Inner Swiper Slide Blog Box */
.swiperSlideFirstBlogInnerSectionBlogBox{

    width: 33.6%;
    height: 100%;
    display: flex;
    align-items: center;
    cursor: pointer;
    justify-content: center;

}

/** Swiper Slide Inner Blog Box */
.swiperSlideFirstBlogInnerSectionBlogBox > .innerSwiperSlideBlogBox{

    width: 100%;
    height: 100%;
    display: flex;

}

/** Desktop First Blog Inner Section Blog Image Box */
.innerSwiperSlideBlogBox > .FirstBlogInnerSectionImageBox{

    width: 40%;
    height: 100%;
    overflow: hidden;
    border-radius: 5px;

}

.FirstBlogInnerSectionImageBox > img{

    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: all 0.5s ease;

}

.innerSwiperSlideBlogBox:hover > .FirstBlogInnerSectionImageBox img{

    transform: rotate(-5deg) scale(1.2);
    filter: brightness(110%);

}

/** Desktop First Blog Inner Section Blog Contnet Box */
.innerSwiperSlideBlogBox > .FirstBlogInnerSectionContentBox{

    width: 60%;
    height: 100%;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-direction: column;
    gap: 10px;

}

.FirstBlogInnerSectionContentBox > p{

    font-family: var(--font12);
    font-weight: 500;
    font-size: 13px;
    letter-spacing: 1px;
    padding-left: 10px;

}

.FirstBlogInnerSectionContentBox > h4{

    font-family: var(--font12);
    font-weight: 500;
    line-height: 20px;
    font-size: 18px;
    letter-spacing: 1px;
    padding-left: 10px;
    position: relative;

}

.FirstBlogInnerSectionContentBox > h4::after{

    position: absolute;
    top: 68px;
    left: 10px;
    content: "";
    width: 65%;
    height: 2px;
    background-color: var(--hex_color6);

}

/** Second Blog Parent Container */
.secondBlogParentSection{

    width: 100%;
    height: 80vh;
    /* background-color: aliceblue; */
    display: flex;
    align-items: center;
    justify-content: center;

}

/** Second Blog Inner Section */
.secondBlogParentSection > .secondBlogInnerSection{

    width: 93%;
    height: 95%;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
    overflow: hidden;

}

/** Second Blog Swiper Container */
.secondBlogInnerSection > .secondBlogSwiperContainer{

    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;

}

/** Second Blog Swiper Slide Container */
.secondBlogSwiperContainer > .secondBlogSwiperSlideContainer{

    width: 100%;
    height: 100%;
    position: relative;

}

/** Second Blog Swiper Slide Container Categroy Box */
.secondBlogSwiperSlideContainer > .secondBlogCategoryBox{

    position: absolute;
    top: 0;
    left: 0;
    z-index: 3;
    width: 100%;
    height: 70px;
    display: flex;
    align-items: center;
    justify-content: space-between;

}

.secondBlogCategoryBox > span{

    background-image: linear-gradient(50deg, var(--hex_color6) 10%, var(--hex_color4) 50%);
    display: inline-flex;
    margin-left: 20px;
    width: 200px;
    height: 40px;
    align-items: center;
    justify-content: center;
    color: var(--hex_color5);
    text-transform: uppercase;
    letter-spacing: 3px;
    border-radius: 10px;
    font-size: 15px;
    font-family: var(--font12);

}

/** Second Blog Swiper Slide Container Image Box */
.secondBlogSwiperSlideContainer > .secondBlogImageBox{

    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    cursor: pointer;

}

.secondBlogImageBox > .secondBlogImageOverlay{

    position: absolute;
    top: 0;
    left: 0;
    z-index: 2;
    width: 100%;
    height: 100%;
    background-image: linear-gradient(to top, #292929dd, #ffffff00);

}

.secondBlogImageBox > img{

    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: all 0.8s ease;

}

.secondBlogSwiperSlideContainer:hover > .secondBlogImageBox img{

    transform: scale(1.1);
    filter: brightness(120%);

}

/** Second Blog Swiper Slide Container Blog Details Box */
.secondBlogSwiperSlideContainer > .secondBlogDetailsBox{

    position: absolute;
    z-index: 3;
    bottom: 20px;
    left: 0;
    width: 100%;
    height: 50%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    overflow: hidden;
    color: var(--hex_color4);
    /* background-color: rebeccapurple; */

}

.secondBlogDetailsBox > i{

    margin-left: 20px;
    margin-bottom: 10px;
    font-family: var(--font12);
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;

}

.secondBlogDetailsBox i > span{

    letter-spacing: 2px;
    display: inline-flex;
    font-size: 14px;

}

.secondBlogDetailsBox > h3{

    font-size: 40px;
    letter-spacing: 3px;
    line-height: 45px;
    width: 900px;
    margin-left: 20px;
    font-family: var(--font12);
    margin-bottom: 20px;


}

.secondBlogDetailsBox > p{

    font-size: 18px;
    width: 800px;
    letter-spacing: 1px;
    line-height: 25px;
    font-family: var(--font13);
    margin-left: 20px;

}

/** Tablet Resposive */
@media screen and (min-width: 800px) and (max-width: 1180px){

    .FirstBlogInnerSectionContentBox > p{

        font-size: 20px;

    }

    .FirstBlogInnerSectionContentBox > h4{

        font-size: 30px;
        line-height: 35px;
        position: relative;
        letter-spacing: 2px;

    }

    .FirstBlogInnerSectionContentBox > h4::after{

        position: absolute;
        top: 120px;
        height: 4px;
        width: 50%;
        content: "";


    }
    
}

/** Mobile Responsive */
@media screen and (min-width: 360px) and (max-width: 615px){

   .firstBlogMainSection{

        height: 20vh;
        position: relative;
        z-index: -2;

   }

   .FirstBlogInnerSectionContentBox > p{

    font-size: 12px;
    letter-spacing: 1px;
    margin-bottom: 0px;

   }

   .FirstBlogInnerSectionContentBox > h4{

    font-size: 13px;
    line-height: 15px;
    letter-spacing: 1px;
    position: relative;

   }

   .FirstBlogInnerSectionContentBox > h4::after{

    position: absolute;
    top: 50px;
    left: 10px;
    height: 2px;
    width: 50%;
    content: "";
    background-color: gold;

   }

}
