/** Header */
header{

    width: 100%;
    height: 8rem;
    display: flex;
    align-items: center;
    justify-content: center;

}

/** Inner Nav */
header > .innerNav{

    width: 95%;
    height: 70%;
    border: 1px solid var(--hex_color6);
    border-radius: 50px;
    overflow: hidden;
    display: flex;

}

/** Logo */
.innerNav > .logo{

    width: 20%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;

}

.logo > h1{

    font-family: var(--font21);
    text-transform: uppercase;
    color: var(--hex_color5);
    letter-spacing: 5px;
    font-size: 20px;
    width: 100%;
    text-align: center;
    cursor: pointer;

}

.logo h1 > span{

    color: var(--hex_color6);
    font-size: 20px;
    display: inline-flex;

}

/** Nav Section */
.innerNav > .navSection{

    width: 60%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-start;

}

.navSection > nav{

    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-start;

}

.navSection nav > ul{

    height: 100%;
    display: flex;
    align-items: center;
    gap: 50px;
    list-style-type: none;
    margin-left: 20px;

}

.navSection nav ul > li{

    height: 50%;
    display: flex;
    align-items: center;
    text-transform: uppercase;
    letter-spacing: 2px;

}

.navSection nav ul li > a{

    display: inline-flex;
    color: var(--hex_color5);
    text-decoration: none;
    font-family: var(--font12);
    font-size: 16px;
    transition: all 0.5s ease;

}

.navSection nav ul li > a:hover{

    transform: scale(1.2);
    /* color: var(--hex_color3); */
    color: gold;

}

/** Contact Section */
.innerNav > .contactSection{

    width: 20%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;

}

.contactSection > button{

    width: 80%;
    height: 60%;
    border-radius: 30px;
    corner-shape: round;
    border: none;
    background-color: var(--hex_color5);
    color: var(--hex_color4);
    font-family: var(--font12);
    font-size: 20px;
    letter-spacing: 2px;
    text-transform: uppercase;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    position: relative;
    transition: all 0.8s ease;
    z-index: 2;
    overflow: hidden;

}

.contactSection > button:hover{

    color: var(--hex_color5);
    gap: 15px;
    box-shadow: 5px 5px 5px #29292967;
    border: 1px solid var(--hex_color5);

}

.contactSection > button::after{

    position: absolute;
    bottom: 0;
    left: 0;
    z-index: -2;
    width: 300%;
    height: 0%;
    content: '';
    background-color: var(--hex_color4);
    transition: all 0.8s ease;
    transform: rotate(-50deg) translate(-50px, -100%);
    opacity: 0;
    filter: blur(100px);

}

.contactSection > button:hover::after{

    height: 360%;
    opacity: 1;
    filter: blur(0px);

}

.contactSection button > svg{

    font-size: 25px;
    color: #ffd700;
    margin-top: -3px;

}

/** Hide Mobile Nav In Desktop Mode */
header > .innerMobileNav{

    display: none;

}

/** Tablet Responsive */
@media screen and (min-width: 577px) and (max-width: 1200px){

    header{

        width: 100%;
        height: 8rem;
        display: flex;
        align-items: center;
        justify-content: center;

    }

    /** Inner Nav */
    header > .innerNav{

        width: 98%;
        height: 70%;

    }

    /** Inner Nav Logo section*/
    .innerNav > .logo{

        width: 20%;
        height: 100%;

    }

    .logo > h1{

        font-size: 18px;

    }

    .logo h1 > span{

        font-size: 18px;

    }

    /** Inner Nav Contact Section */
    .innerNav > .contactSection{

        width: 20%;
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: center;

    }
    .contactSection > button{

        width: 80%;
        height: 60%;
        font-size: 15px;
        border-radius: 50px;
        corner-shape: round

    }

    /** Hide Mobile Nav In Tablet View */
    header > .innerMobileNav{

        display: none;

    }

}

/** Mobile Responsive */
@media screen and (min-width: 360px) and (max-width: 1000px){

    header{

        width: 100%;
        height: 5rem;

    }

    /** Desktop and Tablet Navbar */
    header > .innerNav{

        display: none;

    }

    /** Mobile Navbar */
    header > .innerMobileNav{

    
        width: 100%;
        height: 100%;
        background-color: var(--hex_color4);
        display: flex;
        align-items: center;
        justify-content: center;
        position: sticky;
        top: 0;

    }

    /** Mobile Nav Logo */
    .innerMobileNav > .mobileNavLogo{

        width: 50%;
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: flex-start;

    }

    .mobileNavLogo > h1{

        color: var(--hex_color5);
        font-family: var(--font21);
        font-size: 15px;
        letter-spacing: 2px;
        text-transform: uppercase;
        margin-left: 20px;

    }

    .mobileNavLogo h1 > span{

        color: var(--hex_color6);

    }

    /** Mobile Inner Navbar */
    .innerMobileNav > .innerMobileNav{

        width: 50%;
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: flex-end;
        position: relative;

    }

    /** Mobile Nav Span Icon div */
    .innerMobileNav > .mobileNavSpanIcon{

        display: flex;
        flex-direction: column;
        align-items: flex-end;
        justify-content: center;
        margin-right: 20px;
        position: absolute;
        z-index: 3;

    }

    /** First Span Line*/
    .mobileNavSpanIcon > span:nth-child(1){

        width: 50px;
        height: 3px;
        background-color: var(--hex_color5);
        margin-bottom: 5px;

    }

    /** Second Span Line */
    .mobileNavSpanIcon > span:nth-child(2){

        width: 30px;
        height: 3px;
        background-color: var(--hex_color5);

    }

    /** Nav Menu Section */
    .innerMobileNav > .mobileNavMenuSection{

        position: fixed;
        top: 0;
        z-index: 2;
        right: 0;
        width: 100%;
        height: 100%;
        background-color: #ffffff00;
        backdrop-filter: blur(5px);
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;

    }

    /** Navmenu Div */
    .mobileNavMenuSection > .navMenuDiv{

        width: 100%;
        height: 60%;
        background-color: #ffd9004b;
        backdrop-filter: blur(5px);
        display: flex;
        align-items: center;

    }

    .navMenuDiv > nav{

        width: 100%;
        height: 100%;
        display: flex;
        align-items: flex-end;
        justify-content: flex-start;

    }

    .navMenuDiv nav > ul{

        margin-left: 20px;
        list-style-type: none;

    }

    .navMenuDiv ul > li{

        margin-bottom: 10px;

    }

    .navMenuDiv ul li > a{

        text-decoration: none;
        color: var(--hex_color5);
        font-size: 50px;
        font-family: var(--font12);
        letter-spacing: 2px;
        display: inline-flex;
        position: relative;

    }

    .navMenuDiv ul li > a::after{

        position: absolute;
        top: 60px;
        left: 0;
        width: 50%;
        height: 2px;
        content: "";
        background-color: var(--hex_color5);

    }

    /** Let's Talk Div */
    .mobileNavMenuSection > .letsTalkDiv{

        width: 100%;
        height: 40%;
        background-color: #2b2b2b;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        gap: 20px;

    }

    .letsTalkDiv > button{

        height: 80px;
        width: 400px;
        border: none;
        font-size: 30px;
        font-family: var(--font12);
        background-color: var(--hex_color6);
        border-radius: 20px;
        display: inline-flex;
        align-items: center;
        justify-content: center;
        gap: 20px;
        cursor: pointer;

    }

    .letsTalkDiv button > svg{

        color: var(--hex_color4);
        box-shadow: 5px 5px 10px #292929;
        background-color: #292929;
        font-size: 30px;
        padding: 10px;
        border-radius: 50px;

    }

    /** Let's Talk Social Icon Div */
    .letsTalkDiv > .mobileMenuSocialIcon{

        width: 100%;
        height: 50px;
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 30px;

    }

    .mobileMenuSocialIcon > svg{

        color: var(--hex_color5);
        cursor: pointer;
        background-color: var(--hex_color4);
        width: 20px;
        height: 20px;
        font-size: 1px;
        padding: 15px;
        border-radius: 10px;

    }

}